/* customize.css */

body {
    padding-top: 50px;
}
.y-lab-main {
    padding: 100px 15px;
    padding-top: 50px;
    text-align: center;
}
.y-lab-name {
    font-size: 50px;
    font-weight: 500;
}
.y-lab-fullname {
    margin-bottom: 10px;
}
.y-lab-version {
    font-size: 16px;
    margin-bottom: 50px;
}
.y-lab-footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.y-lab-avatar img {
    width: 320px;
}
.y-lab-featurette {
    padding: 100px 15px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}
.y-lab-featurette-title {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
}

/* Color */
.color-black {
    color: #000;
}
.color-dark-gray {
    color: #333;
}
.color-blue {
    color: #4078c0;
}

/* Dropdown menu */
.dropdown-menu {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Outline button for use within the docs */
.btn-outline {
    color: #4078c0;
    background-color: transparent;
    border-color: #4078c0;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: #fff;
    background-color: #4078c0;
    border-color: #4078c0;
}

/* Inverted outline button (white on dark) */
.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #c4d6ed;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
    color: #4078c0;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}